* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	background-color: #2A2A2A;
}

/** NAVIGATION **/
.navigation {
	background-color: #262626;
	height: 80px;
}
.navigation .logo {
	color: #fff;
    line-height: 20px;
    font-size: 24px;
    float: left;
    padding: 15px 15px;
    padding-left: 35px;
    margin-top: 15px;
    font-weight: bold;
}
.navigation ul {
	float: right;
	padding: 15px 15px;
    padding-right: 35px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
    font-family: arial;

}
.navigation li {
	display: inline-block;
	list-style-type: circle;
}
.navigation li.active a{
	color:#FF6760;
}
.navigation a {
	color: #D8D8D8;
	text-decoration: none;
	margin-right:35px;
	text-transform: uppercase;
}

/** HEADER **/
.header {
	color: #D8D8D8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.header h1 {
	font-size: 48px;
	margin-top:65px;
	
	font-weight: 300;
}
.header h1 > span {
	font-weight: bold;
}

.header h2 {
	font-size: 36px;
	font-weight: 300;
	margin: 25px 0;
}

.header h2 > span {
	color: #EB615B;
}

.header a {
	background-color: #FF6760;
	border: none;
	border-radius: 10px;
	color: #fff;
	display: inline-block;

	margin: 10px 0 75px 0;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

/** FEATURES **/
.features {
	background-color: #F6F6F6;
	color: #616161;
	height: 450px;
}
.item {
	float: left;
    margin: 25px 0;
    padding: 5px 0 20px;
    text-align: center;
	width: 33.3333333333%;
}
.item h3 {
	font-size: 20px;
	padding: 5px 0;
}
.item p {
	font-size: 16px;
	padding: 10px 0;
}

/** FOOTER **/
.footer {
	color: #D8D8D8;
	text-align: center;
}
.footer h4 {
	font-size: 24px;
	margin: 50px 0 25px;
}
.footer p {
	color: #858585;
	font-size: 16px;
	padding: 3px 0;
}
.footer p a {
	color: #793F3D;
}
#socialIcons {
	margin: 15px 0 50px;
}
#socialIcons a {
	color: #fff;
}
#socialIcons .fa-twitter {
	background-color: #5DAED5;
	border-radius: 50%;
	padding: 5px;
}
#socialIcons .fa-facebook {
	background-color: #4470CF;
	border-radius: 50%;
	padding: 5px 8px;
}